/* Debut du Contenu */
body{
      background-image: url(../1.jpg);
      background-attachment: fixed;
      background-size: 100%;
      color:rgb(0, 0, 0);
 
}

.contain{
    display: inline-block
}


#flag {
    font-size: 22px;
    font-weight: 700px;
    font-family: cursive;
    color:olive;
}
h3{
    font-size: 15px;
    font-weight: 700;
    font-family: cursive;
    color:black;
  }
#joh{
    display: inline-block
}


span{
  color:black;
}
/* Fin du Contenu */

/* Debut Barre de Menu */
#menu{
    margin: 0;
    padding: 0;
    margin-top: 0px;
    background-color:rgba(36, 16, 36, 0.993);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
  }
  #menu li{
    list-style: none;
    display: inline-block;
  }
  #menu li a{
    text-decoration: overline seashell;
    position: relative;
    color: seashell;
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.9s all;
    padding: 14px 30px;
    text-transform: uppercase;
  }
  #menu li a:before{
    content: '';
    width: 60px;
    position: absolute;
    border-bottom: 8px solid yellow;
    bottom: 0;
    right: 350px;
    transition: 0.9s all;
  }
  #menu li a:hover:before{
    right: 0;
  }

 
/* Fin Barre de Menu */